.Accordion {
    padding: 0 6.2rem 0 6.2rem;
    font-family: Proxima Nova;
    font-size: 25px;
    margin-bottom: 10%;
    cursor:pointer;

    .item {
        padding: 25px;
        background: #dcd8e1 0% 0% no-repeat padding-box;
        color: #2f204a;
        border-bottom: 3px solid #2f204a;        

        .plus {
            float:right;
            margin-right: 2%;
        }

        .plus::before {
            content: "";
            display: block;
            position: absolute;
            width: 5px;
            background-color: rgb(59, 57, 58);
            height: 2rem;
            transform-origin: center;
            transition: transform 500ms ease;
            transform: rotate(90deg);
        }

        .plus::after {
            content: "";
            display: block;
            position: absolute;
            width: 5px;
            background-color: rgb(59, 57, 58);
            height: 2rem;
            transform-origin: center;
            transition: transform 500ms ease;
        }
    }

    .itemcontent {
        display: none;  
        background: white;  
        ul {
            display:flex;
            padding: 6.25rem 10rem 0 10rem;
            list-style-type: none;
            margin:0;
            li {
                flex: 1 1 0;
                text-align: center;
                border-bottom-width: 3px;
                border-bottom-style: solid;
                .imageholder {
                    border: 3px solid;  
                    display:inline-block;
                    height:80px;
                    border-radius: 27px;
                }    
            } 
            li.selected {
                color : #9e8eb9;          
                border-bottom-color: rgb(158, 142, 185);
                
                .imageholder {
                    border-color: #9e8eb9;  
                    img {
                        filter: invert(61%) sepia(4%) saturate(2427%) hue-rotate(220deg) brightness(96%) contrast(87%);
                        
                    }
                }                
            }             
        }    
        .hidden {
            display:none;
        }
        .contentholder {
            white-space: normal;
            padding: 0 10rem 0 10rem;
            font-size: 1.125rem;
            font-weight:300;
            font-family: Proxima Nova Regular;
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 4rem;
            .monitorimage {
                margin-top:20px;
                height:545px;
                img {
                    position:relative;
                    top:10px;
                    left : 0.91%;
                    height: 415px;
                    width: 739px;
                }
            }
            .monitorimage::before {
                content: "";
                background-image: url('./img/monitor.png');
                height: 570px;
                width: 761px;
                position:absolute;
                left: calc(50% - width/2);
            }
        }    
    }

    .itemcontent.open {
        display:block;
        overflow:auto;
    }

    h5 {
        margin-top: 0;
        margin-bottom: 0.7rem;
        text-align: center;
        font-family: Proxima Nova;
    }
    
}