.Featuretable {
  display: flex;
  flex-direction: column;
  padding: 0 7rem 0 7rem;
  white-space: pre-wrap; }

.Featuretable .row {
  display: flex; }

.Featuretable .row .colheading {
  padding: 0 20px 0 20px; }

.Featuretable .row .colheading:not(:first-child) {
  flex: 1 1 0;
  width: 0; }

.Featuretable .row .colheading:not(:first-child) div {
  margin: auto; }

.Featuretable .row .colheading:not(:first-child) .vcut {
  background-image: url("./img/VM CUT Logo.png");
  height: 39px;
  width: 102px; }

.Featuretable .row .colheading:not(:first-child) .vltr {
  background-image: url("./img/VM LTR Logo.png");
  height: 39px;
  width: 104px; }

.Featuretable .row .colheading:not(:first-child) .vpro {
  background-image: url("./img/VM PRO Logo.png");
  height: 39px;
  width: 108px; }

.Featuretable .row .colheading:not(:first-child) .vdsr {
  background-image: url("./img/VM DSR Logo.png");
  height: 39px;
  width: 108px; }

.Featuretable .row .colheading:not(:first-child) .vxpt {
  background-image: url("./img/VM XPT Logo.png");
  height: 39px;
  width: 104px; }

.Featuretable .row .colheading:first-child {
  width: 7%; }

.Featuretable .row .col {
  border: 1px solid #3b393a;
  padding: 30px 20px 41px 20px; }

.Featuretable .row .col:first-child {
  width: 7%;
  font-family: Proxima Nova;
  font-size: 25px; }

.Featuretable .row .col:not(:first-child) {
  flex: 1 1 0;
  width: 0; }

.Featuretable .row:nth-of-type(2) {
  height: 23.438rem;
  background-color: #dcd8e1; }

.Featuretable .row:nth-of-type(3) {
  min-height: 5.188rem; }

.Featuretable .row:nth-of-type(4) {
  height: 21.5rem;
  background-color: #dcd8e1; }

.Featuretable .row:nth-of-type(5) {
  height: 9.313rem; }

.Featuretable .row:nth-of-type(6) {
  height: 12.188rem;
  background-color: #dcd8e1; }

.Featuretable .row:first-child {
  font-family: Proxima Nova;
  font-size: 25px; }

.Featuretable .platforms-heading {
  font-family: Proxima Nova;
  font-size: 25px;
  grid-column: 1 / 2;
  width: 7%;
  padding: 10px 20px 20px 20px;
  border-left: 2px solid #3b393a;
  border-bottom: 2px solid #3b393a;
  border-top: 1px solid #3b393a; }

.Featuretable .platforms-content {
  grid-column: 2 / span 5;
  padding: 20px 0 0 20px;
  border-bottom: 2px solid;
  text-align: center;
  align-content: center;
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 1px solid;
  flex-grow: 1; }
