.Triplesvg {
    display:flex;
    justify-content: space-between;
    height:460px;
    padding: 6rem 10rem 6rem 10rem;
    text-align: center;
    white-space: normal;   
    .col {
        display:flex;
        flex-direction: column;
        height:100%;
        width: 26%;
        .img {
            height: 70%;
            width: 100%;
            background: no-repeat;
            background-size: contain;
        }
    }
}