.Featuretable {
    display: flex;
    flex-direction: column;
    padding: 0 7rem 0 7rem;
    white-space: pre-wrap;

    .row {
        display: flex;

        .colheading {
            padding: 0 20px 0 20px;

        }
        .colheading:not(:first-child) {
            
            flex: 1 1 0;
            width:0;

            div {
                margin: auto;
            }
            .vcut {
                background-image: url('./components/img/VM CUT\ Logo.png');
                height: 39px;
                width: 102px;
            }
            .vltr {
                background-image: url('./components/img/VM LTR\ Logo.png');
                height: 39px;
                width: 104px;
            }
            .vpro {
                background-image: url('./components/img/VM PRO\ Logo.png');
                height: 39px;
                width: 108px;
            }
            .vdsr {
                background-image: url('./components/img/VM DSR\ Logo.png');
                height: 39px;
                width: 108px;
            }
            .vxpt {
                background-image: url('./components/img/VM XPT\ Logo.png');
                height: 39px;
                width: 104px;
            }
        }

        .colheading:first-child {
            width:7%;
        }

        .col {
            
            border: 1px solid #3b393a;
            padding: 30px 20px 41px 20px;
        }

        .col:first-child {
            width:7%;
            font-family: Proxima Nova;
            font-size: 25px;
        }

        .col:not(:first-child) {
            flex: 1 1 0;
            width: 0;
        }

        
        

    }

    .row:nth-of-type(2) {
        height: 23.438rem;
        background-color: #dcd8e1;
      }
    .row:nth-of-type(3) {
        min-height: 5.188rem;
      }
      
    .row:nth-of-type(4) {
        height: 21.5rem;
        background-color: #dcd8e1;
      }
      
    .row:nth-of-type(5) {
        height: 9.313rem;
      }
      
    .row:nth-of-type(6) {
        height: 12.188rem;
        background-color: #dcd8e1;
      }        

    .row:first-child {
        font-family: Proxima Nova;
        font-size: 25px;
    }

    .platforms-heading {
        font-family: Proxima Nova;
        font-size: 25px;
        grid-column: 1 / 2;
        width:7%;
        padding: 10px 20px 20px 20px;
        border-left: 2px solid #3b393a;
        border-bottom: 2px solid #3b393a;
        border-top: 1px solid #3b393a;
    }

    .platforms-content {
        grid-column: 2 / span 5;
        padding: 20px 0 0 20px;
        border-bottom: 2px solid;
        text-align: center;
        align-content: center;
        border-left: 2px solid;
        border-right: 2px solid;
        border-top: 1px solid;
        flex-grow: 1;
    }


}
