.loveusing {
    width:100%;
    height: 256px;
    background: #8164A5 0% 0% no-repeat padding-box;
    color:#FFFFFF;
    font-weight:300;
    white-space: pre;
    .message {
        float:right;
        margin: 3% 7% 0 0;
    
    }
    .left {
        font-family: Proxima Nova;
        width: 50%;
        display: inline-block;
        margin: 0 6rem;
        font-size:20px;
        h3 {
            font-family: Proxima Nova;
        }
        .feedback {
            display: inline-block;
        }
    }
    .writeareview {
        background: transparent url('./components/img/Write a review.png') 0% 0% no-repeat padding-box;
        width: 196px;
        height: 52px;
        margin-left: 10%;
        display: inline-block;
        cursor: pointer;
    }
}

